@*partial User modal*@
<div class="modal fade" id="user-modal" tabindex="-1" aria-labelledby="Modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="user-modal modal-content px-5 py-4 mx-auto">
            @*modal-header*@
            <div class="modal-header">
                <h3 class="modal-title text-fw-bold">User Modal</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            @*modal-body*@
            <div class="modal-body">
                <form>
                    @*username*@
                    <div class="mb-4">
                        <label for="usernameInput" class="form-label">Username</label>
                        <input type="text" class="form-control shadow-sm" id="usernameInput" aria-describedby="username input">
                    </div>

                    @*email*@
                    <div class="mb-4">
                        <label for="emailInput" class="form-label">Email Address</label>
                        <input type="email" class="form-control shadow-sm" id="emailInput" aria-describedby="email input">
                    </div>

                    @*password*@
                    <div class="mb-4">
                        <label for="passwordInput" class="form-label">Password</label>
                        <input type="password" class="form-control shadow-sm" id="passwordInput">
                    </div>

                    @*confirm password*@
                    <div class="mb-4">
                        <label for="confirmPasswordInput" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control shadow-sm" id="confirmPasswordInput">
                    </div>
                </form>
            </div>

            @*modal-footer*@
            <div class="modal-footer">
                <button type="button" class="btn btn-success w-100">Sign Up</button>
            </div>
        </div>
    </div>
</div>