@*partial User modal*@
<div class="modal fade" id="user-modal" tabindex="-1" aria-labelledby="Modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="user-modal-content modal-content mx-auto">
        </div>
    </div>
</div>