@*partial User modal*@
<div class="modal fade" id="user-modal" tabindex="-1" aria-labelledby="Modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @*modal-header*@
            <div class="modal-header">
                <h5 class="modal-title">User Modal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            @*modal-body*@
            <div class="modal-body">
                <h5>Initial Text</h5>
            </div>

            @*modal-footer*@
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary data-operation-execute">Save Changes</button>
            </div>
        </div>
    </div>
</div>