header {
    .main-nav {
        display: grid;
        gap: 1.2em;
        grid-template-columns: max-content auto minmax(50px,55px);
        grid-template-areas: "logo search-bar navbar-toggler";
        padding: 0 12px;
        width: 100%;
    }

    .logo {
        grid-area: logo;
        max-height: 22px;
        min-width: 115px;
        max-width: 169px;
    }

    .search-bar {
        grid-area: search-bar;
    }

    .navbar-toggler {
        grid-area: navbar-toggler;
    }

    .navbar-items {
        grid-area: navbar-items;
    }
}

@media (min-width:map-get($breakpoints, small)) {
    header {
        .main-nav {
            max-width: map-get($breakpoints, small);
        }
    }
}

@media (min-width:map-get($breakpoints, medium)) {
    header {
        .main-nav {
            grid-template-areas: "logo navbar-items search-bar";
            grid-template-columns: max-content auto minmax(230px, 300px);
            max-width: map-get($breakpoints, medium);
        }
    }
}

@media (min-width:map-get($breakpoints, large)) {
    header {
        .main-nav {
            max-width: map-get($breakpoints, large);
        }
    }
}

@media (min-width:map-get($breakpoints, extra-large)) {
    header {
        .main-nav {
            max-width: map-get($breakpoints, extra-large);
        }
    }
}

@media (min-width:map-get($breakpoints, extra-extra-large)) {
    header {
        .main-nav {
            max-width: map-get($breakpoints, extra-extra-large);
        }
    }
}
