/*============
  Font-Faces
============*/

/*  Nunito  */
@font-face {
    font-family: "Nunito-Regular";
    src: url("~/fonts/Nunito/Nunito-Regular.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Nunito-Bold";
    src: url("~/fonts/Nunito/Nunito-Bold.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Nunito-Black";
    src: url("~/fonts/Nunito/Nunito-Black.ttf") format("truetype");
    font-display: swap;
}


/*  Nunito Sans  */
@font-face {
    font-family: "NunitoSans-Regular";
    src: url("~/fonts/NunitoSans/NunitoSans-Regular.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "NunitoSans-Bold";
    src: url("~/fonts/NunitoSans/NunitoSans-Bold.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "NunitoSans-Black";
    src: url("~/fonts/NunitoSans/NunitoSans-Black.ttf") format("truetype");
    font-display: swap;
}
