/*============
  Typography
============*/
body {
    font-family: 'Nunito', Nunito;
}

.text-green {
    color: color(green);
}

.text-bold {
    font-family: "Nunito-Bold", Nunito;
}

.text-black {
    font-family: "Nunito-Black", Nunito;
}

/*  Home/Index styles  */
.home-index {
    h1 {
        font-size: 35px;
    }

    p {
        font-size: 18px;
    }
}

@include screen-size(large) {
    .home-index {
        h1 {
            font-size: 45px;
        }

        p{
            font-size:25px;
        }
    }
}

@include screen-size(extra-extra-large) {
    .home-index {
        h1 {
            font-size: 60px;
        }

        p{
            font-size:28px;
        }
    }
}