/*============
  Typography
============*/
body {
    font-family: 'Nunito', Nunito;
}

.text-green {
    color: color(green);
}

.text-bold {
    font-family: "Nunito-Bold", Nunito;
}

.text-black {
    font-family: "Nunito-Black", Nunito;
}

.home-index {
    h1{
        font-size: 38px;
    }
}