/*============
  Typography
============*/
body {
    font-family: 'Nunito', Nunito;
}

.text-green {
    color: color(green);
}

.text-bold {
    font-family: "Nunito-Bold", Nunito;
}

.text-black {
    font-family: "Nunito-Black", Nunito;
}


/*  Home/Index styles  */
.home-index {
    h1 {
        font-size: 2.2rem;
    }

    p {
        font-size: 1.15rem;
    }
}

@include screen-size(large) {
    .home-index {
        h1 {
            font-size: 2.85rem;
        }

        p {
            font-size: 1.4rem;
        }
    }
}

@include screen-size(extra-extra-large) {
    .home-index {
        h1 {
            font-size: 3.8rem;
        }

        p {
            font-size: 1.7rem;
        }
    }
}