@{
    ViewData["Title"] = "Home Page";
}
@*test styles*@
<style>
    .test {
        border: 1px solid red;
    }

    .container {
        border: 1px solid black;
    }
</style>

<div class="test d-flex flex-column flex-md-row">
    <h1 class="display-4 flex-grow-1">Welcome</h1>
    <img class="overflow-hidden w-100" src="~/img/home-hero.svg" alt="Select your SSShow!" />
</div>
