@{
    ViewData["Title"] = "Home Page";
}
@*test styles*@
<style>
  /*  .test {
        border: 1px solid red;
    }

    .container {
        border: 2px solid green;
    }

    header {
        border: 1px solid blue;
    }*/
</style>

<div class="home-index test d-flex flex-column flex-md-row mt-3">
    <div class="d-flex flex-column mb-5">
        <h1 class="text-black mb-2">Seek unlimited shows here and Save it into your collections</h1>
        @*<h1 class="text-black mb-2">Just <span class="text-success">Seek</span> and <span class="text-success">Save</span></h1>*@
        <p class="fs mb-4">Create your very own unique collections of movies, animes, TV series,  and shows!</p>

        <div role="group" aria-label="Call to Action">
            @*hide on medium-size screens*@
            <button type="button" class="btn btn-outline-success text-nowrap d-md-none me-2 px-4 py-1">Sign In</button>
            <button type="button" class="btn btn-success text-nowrap d-md-none px-4 py-1">Sign Up</button>

            @*display on medium-size screens*@
            <button type="button" class="btn btn-success text-nowrap d-none d-md-block px-4 py-1">Sign Up Now</button>
        </div>
    </div>

    <img class="overflow-hidden w-100" src="~/img/home-hero.svg" alt="Select your SSShow!" />
</div>
