@{
    ViewData["Title"] = "Home Page";
}

@*test styles*@
<style>
    .temp {
        border: 1px solid red;
    }

    .container {
        border: 1px solid black;
    }
</style>

<div class="temp text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
