@{
    ViewData["Title"] = "Home Page";
}
@*test styles*@
<style>
    .test {
        border: 1px solid red;
    }

    .container {
        border: 1px solid black;
    }
</style>

<div class="test d-flex flex-column flex-md-row">

    <div class="d-flex flex-column">
        <h1>Just Seek and Save</h1>
        <p class="lead">Create your very own unique collections of movies, animes, TV series,  and shows!</p>
    </div>

    <img class="overflow-hidden w-100" src="~/img/home-hero.svg" alt="Select your SSShow!" />
</div>
