@{
    ViewData["Title"] = "Home Page";
}

@*test styles*@
<style>
    .temp {
        border: 1px solid red;
    }

    .container {
        border: 1px solid black;
    }
</style>

<div class="temp d-flex h-100">
    <div class="h-100 flex-grow-1">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
</div>
